@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@500&display=swap');
@import url('http://fonts.cdnfonts.com/css/norwester');
@import url('http://fonts.cdnfonts.com/css/kollektif?styles=28735');

*
{
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Kollektif', sans-serif; */
    /* font-family: 'Norwester', sans-serif; */
}

.cuerpo
{
    width: 100%;
    height: 100vh;
    /* background: rgb(174,156,226); */
    background: linear-gradient(90deg, rgba(174, 156, 226, 1) 0%, rgba(174, 156, 226, 0.5) 25%, whitesmoke 50%, 
    rgba(174, 156, 226, 0.5) 75%, rgba(174, 156, 226, 1) 100%);
    /* background: rgba(174, 156, 226, 0.6); */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.padre
{
    width: 50%;
    height: 50%;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#circleBR 
{
    background: whitesmoke;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 1;
    right: 10%;
    bottom: 25%;
}

#circleTL 
{
    background: whitesmoke;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 1;
    left: 10%;
    top: 25%;
}

#circleTR
{
    background: whitesmoke;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 1;
    right: 10%;
    top: 25%;
}

#circleBL {
    background: whitesmoke;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 1;
    left: 10%;
    bottom: 25%;
}

#imgBG {
    background-image: url("../sebasLogo.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 400px;
    height: 400px;
    position: absolute;
    z-index: 1;
    opacity: 0.25;
}

#app
{
    z-index: 99;
}